body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

section {
    display: none;
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 2rem;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin-right: 2rem;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

#landingSection {
    display: block;
    text-align: center;
}

#landingImage {
    width: 80rem;
    height: 40rem;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.secondaryTitle {
    font-size: 20px;
    margin-top: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
button {
    padding: 1rem;
    margin: 5px 0;
}

.characterAttribute {
    margin-bottom: 1rem;
}

.randomiseButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
}

.randomiseButton:hover {
    background-color: #0056b3;
}

#searchResults {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#selectedInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchResults {
    max-height: 200px;
    overflow-y: auto;
}

#searchResults div {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#searchResults div:hover {
    background-color: #f0f0f0;
}