body {
    font-family: 'Times New Roman', serif;
    background-color: #0d0d0d;
    margin: 0;
    padding: 0;
    color: #fff;
}

section {
    display: none;
    margin: 2rem;
    padding: 2rem;
}

header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 2rem;
}

nav a {
    text-decoration: none;
    color: #F7CE65;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover {
    color: #930C10;
    text-shadow: 0 0 20px #930C10;
}

#landingSection {
    display: block;
    text-align: center;
    padding: 3rem;
}

#landingImage {
    width: 60rem;
    height: 25rem;
    margin: 3rem auto;
    border: 5px solid #930C10;
    border-radius: 30%;
    box-shadow: 0 0 50px rgba(255, 0, 0, 0.7);
}

h2 {
    color: #F7CE65;
    font-size: 24px;
    margin-top: 20px;
}

p {
    color: #fff;
    font-size: 16px;
}



label {
    font-weight: bold;
    color: #fff;
}

input[type="text"],
button {
    padding: 1rem;
    margin: 5px 0;
}

#generateButton {
    border: none;
    background-color: #0d0d0d;
    transition: transform 0.2s ease;
    border-radius: 80%;
}

#generateButton svg {
    fill: #930C10;
}

#generateButton:hover {
    transform: rotate(360deg);
}

#generateButton:hover svg {
    fill: #F7CE65;
}

.characterAttribute {
    margin-bottom: 1;
    color: #fff;
}

.randomiseButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 12px;
}

.randomiseButton:hover {
    background-color: #0056b3;
}

#searchResults {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

#selectedInfo {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchResults {
    max-height: 200px;
    overflow-y: auto;
}

#searchResults div {
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

#searchResults div:hover {
    background-color: #930C10;
}